services:
  fishjam:
    image: "ghcr.io/fishjam-cloud/fishjam:${TAG:-edge-88258de-1764324482}"
    container_name: fishjam
    restart: on-failure
    healthcheck:
      test: >
        curl --fail-with-body -H "Authorization: Bearer 12345" http://fishjam:5002/admin/health
      interval: 3s
      retries: 2
      timeout: 2s
      start_period: 30s
    environment:
      FJ_HOST: "fishjam:5002"
      FJ_ADMIN_TOKEN: "12345"
      FJ_PORT: 5002
      FJ_SECRET_KEY_BASE: "super-secret-key"
      FJ_BROADCASTING_ENABLED: "true"
      FJ_BROADCASTER_URL: "http://broadcaster:4000"
      FJ_BROADCASTER_TOKEN: "broadcaster_token"
      FJ_BROADCASTER_WHIP_TOKEN: "whip_token"
    ports:
      - "5002:5002"
      - "49999:49999"
      - "50000-50050:50000-50050/udp"

  fishjam-prep:
    image: curlimages/curl:8.12.1
    command: >
      curl --fail-with-body -H "Authorization: Bearer 12345" -XPOST http://fishjam:5002/admin/user --json '{"id": "testuser", "token": "development"}'
    depends_on:
      fishjam:
        condition: service_healthy

  test:
    container_name: test
    build:
      context: .
      dockerfile: tests/Dockerfile
      args:
        PYTHON_VERSION: ${PYTHON_VERSION:-3.11}
    command: uv run pytest
    environment:
      DOCKER_TEST: "TRUE"
    depends_on:
      fishjam-prep:
        condition: service_completed_successfully
