services:
  fishjam:
    image: ghcr.io/fishjam-cloud/fishjam:edge
    container_name: fishjam
    restart: on-failure
    healthcheck:
      test: >
        curl --fail-with-body -H "Authorization: Bearer admin" 
        http://fishjam:5002/admin/health || exit 1
      interval: 3s
      retries: 2
      timeout: 2s
      start_period: 30s
    environment:
      FJ_HOST: "fishjam:5002"
      FJ_ADMIN_TOKEN: "admin"
      FJ_PORT: 5002
      FJ_TEST_USER_TOKEN: "development"
      FJ_CHECK_ORIGIN: "false"
      # Fisthank
      FJ_FISHTANK_TOKEN: "foo"
      FJ_FISHTANK_ADDRESS: fishtank:50051
      # Broadcaster
      FJ_BROADCASTING_ENABLED: "true"
      FJ_BROADCASTER_URL: "http://broadcaster:4000"
      FJ_BROADCASTER_TOKEN: "broadcaster_token"
      FJ_BROADCASTER_WHIP_TOKEN: "whip_token"
      # Dev
      LOG_LEVEL: "debug"
      
    ports:
      - "5002:5002"

  fishtank: 
    image: ghcr.io/fishjam-cloud/fishtank:edge
    container_name: fishtank
    restart: on-failure
    environment:
      FT_FISHJAM_NOTIFICATIONS_ENDPOINT: http://fishjam:5002/notifications/fishtank
      FT_FISHJAM_TOKEN: "foo"
      FT_STRUCTURED_LOGGING: true
    healthcheck:
      interval: 3s
      retries: 2
      timeout: 2s
      start_period: 30s
    ports: 
     - "8080:8080"

  caddy:
    image: caddy
    container_name: proxy
    restart: unless-stopped
    ports:
      - 5555:5555
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro

  test:
    container_name: test
    build:
      context: .
      dockerfile: tests/Dockerfile
      args:
        PYTHON_VERSION: ${PYTHON_VERSION:-3.11}
    command: uv run pytest -s -vv
    environment:
      DOCKER_TEST: "TRUE"
    depends_on:
      fishtank: 
        condition: service_healthy
      fishjam: 
        condition: service_healthy
      caddy:
        condition: service_started
