---
{% if module.name == 'fishjam' %}
title: fishjam
{% else %}
title: fishjam.{{ module.name }}
{% endif %}
sidebar_label: {{ module.name }}
custom_edit_url: null
---

{% block content %}{% endblock %}